@import url('//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');

* {box-sizing: border-box;}
body {font-family: 'Noto Sans', sans-serif;}
section {margin: 50px 20px;}
a {text-decoration: none; color: #222;}
h3{color: #222;}

#header {
    display: flex;
    margin: 20px 20px;
}
#header img {
    width: 150px; 
    height: 100%;
    margin-right: 10px;
}

.customer-type {gap: 50px;}

.list {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.list li:after {
    content: "|";
    margin-left: 5px;
    color: #666666;
}

.list li:last-child:after {content: "";}

.header-right {
    display: flex;
    position: absolute;
    right: 20px;
    gap: 10px;
    cursor: pointer;
}

.search {
    background: none ;
    border: none;
    cursor: pointer;
}


/* 메뉴 */
.navi-wrap {position: relative;}

.navi {
    margin-bottom: 20px;
    display: flex;
    gap: 30px;
    justify-content: center;
    font-weight: 500;
    font-size: 20px;
} 

.navi button {
  border: 0;
  background: none;
  font: inherit;
  color: #222;
  cursor: pointer;
}

.content-wrap {
    display:none;
    background: #fff;
    height: 430px;
    max-height: calc(100vh - 80px);
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 12px 32px rgba(15, 23, 42, 0.08);
    overflow-y: auto;
    overflow-x: hidden;
    cursor: pointer;
}

.content-wrap.active {display: block;}

.menu-content {
    display: none;
}

.menu-content.active {
    display: block;
} 

.menu-inner {
    width: 1100px;
    margin: 0 auto;
    padding: 30px 0;
}

.menu-inner h4 {
    padding: 15px 0;
    font-size: 18px;
}

.menu-inner h4::after {content: " >";}

.navi-group {
  display: grid;
  grid-template-columns:  repeat(auto-fit, minmax(210px, 1fr));
  gap: 46px 45px;
  position: relative;

  column-gap: 36px;
  row-gap: 36px;
}

.navi-group ul {
  margin: 0;
  padding: 0;
}


.navi-group .sub-name {
  color: #222;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 8px;
}

.navi-group .sub-detail {
  font-size: 14px;
  font-weight: 400;
  color: #666;
  line-height: 1.6;
  word-break: keep-all;
}

.navi-group.single {
  display: block;
  background-image: none;

}

.navi-group.single ul {
  width: 300px;
}

/* 배너 */

.banner {
    display:flex;
    overflow: hidden;
    width: 100%;
    margin-bottom: 100px;
}

.banner ul {
    width: 300%; 
    display: flex;
}


.banner img {
    width: 100%;
    height: 800px;
    display: block;
}



/* 혜택 카테고리 */
.category h3 {
    margin-bottom: 20px; 
    font-weight: 600;
}

.category ul {
    display: flex;
    gap: 12px;
}

.category ul li {
    text-align: center;
    border: 1px solid #E5E7EB;
    width: 90px; height: 120px;
    padding: 15px 5px 10px;
    border-radius: 5px;
    background: #fff;
    box-shadow:0 12px 10px rgba(15,23,42,0.08);
    cursor: pointer;
    flex: 1;
}

.category ul li .active,
.category ul li:hover {
    background:#EAF1FF ;
    color: #0046FF;
}
.category p {margin-top: 20px; color: #222;}
.category img {width: 35px; height: 35px;}


.benefit-wrap {
    display: flex; 
    justify-content: center;
    width: 100%;
}

.benefit-content {
    display: none;
}

.benefit-content.active {
    display: flex;
}

.card-detail {
    padding: 50px 30px 30px 30px;
    background: #fff;
    border-radius: 10px;

    box-shadow: 0 10px 30px rgba(15, 23, 42, 0.08);
    margin-left:30px;

    display: flex;
    flex-direction: column;
    align-items: center;   

    width: 300px;
    box-sizing: border-box;
}

.card-thumb {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-thumb img {
    display: block;
    margin: 0 auto;
    transform: rotate(90deg);
    width: 100%; 
    height: auto;
    flex-shrink: 0;
}

.card-info {
    text-align: center;
    margin-top: 50px;
}

.card-title {margin-bottom: 10px; color: #222;}

.card-benefits li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    gap: 15px;
    font-size: 15px;
    text-align: left;
    white-space: nowrap;
}

.benefit-name {word-break: keep-all; color: #222;}

.card-benefits span {
    color: #0046FF;
    font-weight: 500;
}


.card-buttons {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 30px;
}

.card-buttons  a {
    display: inline-block;
    padding: 3px 10px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 500;
}

.btn-detail {
    background: #fff;
    border: 1px solid #E5E7EB;
    color: #222;
}

.btn-apply {
    background: #0046FF;
    color: #fff;
}

.card-more {
    flex: 0 0 120px;         
    min-width: 80px;         
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-more a {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.45);
    border: 1px solid #E5E7EB;
    box-shadow: 0 8px 20px rgba(15, 23, 42, 0.08);

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0.6;                           
    transition: all 0.3s ease;
}

.card-more a span {
    font-size: 36px;
    font-weight: 300;
    color: #0046FF;
    line-height: 1;
}

.card-more a:hover {
    background: #ffffff;
    border-color: rgba(63, 91, 216, 0.25);
    box-shadow: 0 12px 24px rgba(15, 23, 42, 0.12);
    opacity: 1;
    transform: translateY(-3px);
}

/* 인기 카드추천 */
.popular {margin-bottom: 100px;}

.popular h3 {
    margin-bottom: 20px; 
    font-weight: 600;
}

.card-wrap {
    display: flex; 
    gap: 10px;
    overflow: hidden; 
}

.card {
    display: flex;
    background: #fff;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    box-shadow:0 12px 10px rgba(15,23,42,0.08);
    padding: 10px 0;
    cursor: pointer;
}

.card-img {
    width: 180px;
    margin-top: 35px;
    margin-right: -10px;
}

.card-img img {
    transform: rotate(90deg);
    width: 100%; height: auto;
    flex-shrink: 0;
}


.info {
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 30px;
}

.info a {color: #0046FF;}
.info a::after {content: " >";}

.name strong {
    white-space: nowrap;
    color: #222;
}

.hash {display: flex; gap: 10px;}

.hash li {
    background:#EAF1FF;
    color:#0046FF ;
    font-weight: 500;
    padding: 2px;
    font-size: 13px;
    white-space: nowrap;
}

.content {font-size: 14px; color: #222;}
.content span {font-weight: bold;}


/* 빠른서비스 */
.service {margin-bottom: 100px;}

.service h3 {
    margin-bottom: 20px; 
    font-weight: 600;
}

.service-content {
    background:rgb(234,241,255,0.5); 
    padding: 20px;
} 

.group {
    display: flex; 
    justify-content: space-around;
}

.group li {text-align: center; font-weight: 500;}

.group img {
    width: 35px;
    height: 35px;
    margin-bottom: 10px;
}

/* 이벤트·혜택 */
.event {margin-bottom: 100px;}

.event h3 {
    margin-bottom: 20px; 
    font-weight: 600;
}

.event-wrap {
  width: 100%;
  background: #F7F9FC;
  padding: 50px;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
}

.event-list {
    display: none;
    overflow: hidden;
    gap: 10px;
}

.event-list.active {display: flex;}


.event-list li { flex: 0 0 calc((100% - 30px) / 4);}

.event-list img {width: 100%;}

.button {text-align: center;}

.prev,.next { 
    background: none;
    border: 0;
     cursor: pointer;
}


/* 더보기 */
.title-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.title-row h3 {
    margin: 0;
}

.more-link {
    font-size: 14px;
    font-weight: 500;
    color: #666666;
    text-decoration: none;
    transition: color 0.3s;
}


/* solpay배너 */
.solpay img {width: 100%; height:560px;}


/* footer*/
footer {margin: 0 20px; color: #222;}

.shinhan-footer {
    border-top: 1px solid #E5E7EB;
}

.footer-number {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
}

.center {
    width: 35%;
    font-size: 18px;
    font-weight: 500;
}

.beside {
    width: 65%;
    display:flex;
    gap: 20px;
}

.beside li {
    font-weight: 400;
}

.footer-nav {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 10px;
  white-space: nowrap;
}


.footer-nav a::before {
    content: "|";
    color: #ccc;
    margin-right: 10px;
}

.footer-nav a:first-child::before {
    content: "";
}

.footer-bottom {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.footer-sns img {
    width: 30px; 
    height: 30px;
    margin-right: 10px;
}

.footer-info {
    text-align: center;
    font-size: 15px;
    line-height: 1.6;
}


.copyright {color: #ccc;}

.ert img {
    width: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.site {
    color: #666666;
    width: 100px;
}

.site option {color: #333;}

.site option:first-child {color:rgb(0,0,0,0.5) ;}
